@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --linear-gradient1: hsl(249, 99%, 64%);
  --linear-gradient2: hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-image: url('./images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 240px;
}

header {
  position: relative;
  padding: 32px 16px 51px 16px;
  max-height: 240px;
}

figure {
  width: 286px;
  height: 157px;
}

img {
  width: 100%;
}

.back {
  width: 286px;
  height: 157px;
  position: absolute;
  top: 32px;
  left: 73px;
  z-index: 1;
}

.front {
  width: 286px;
  height: 157px;
  position: absolute;
  top: 126px;
 left: 16px;
  z-index: 2;
}

.card-logo {
  width: 54px;
  position: absolute;
  top: 144px;
  left: 36px;
  z-index: 3;
}

.card-data {
  position: absolute;
  top: 211px;
  left: 36px;
  z-index: 3;
  color: white;
  font-weight: 500;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

#card-number {
  font-size: 1.8rem;
  letter-spacing: 2.2px;
  line-height: auto;
}

#cardholder-name, #exp-date {
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  line-height: auto;
  text-transform: uppercase;
}

#cvc {
  width: 164px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 91px 24px 45px 24px;
  max-width: 375px;
}

form {
  text-transform: uppercase;
  color: var(--very-dark-violet);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: auto;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 8px;
}

.form-group-container, .form-date {
  display: flex;
  gap: 8px;
}

.form-date input {
  width: 72px;
}

input {
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
  margin-top: 9px;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 16px;
}

input::placeholder {
  color: var(--dark-grayish-violet);
}

button {
  width: 327px;
  height: 53px;
  border-radius: 8px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;   
  border: none;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(to right, var(--linear-gradient1), var(--linear-gradient2));
}

#completed-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#completed-section h2 {
  color: var(--very-dark-violet);
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 3.42px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#completed-section p {
  color: var(--dark-grayish-violet);
  font-size: 1.8rem;
  margin-bottom: 48px;
}

.icon {
  width: 80px;
  margin-bottom: 35px;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: var(--red);
  font-weight: bold;
}

main span {
  color: var(--red);
  text-transform: none;
  margin-top: 8px;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

.error {
  border: 1px solid var(--red);
}


@media (min-width: 400px) and (max-width: 1280px) {
  body {
    margin: 0 10%;
  }
}

@media (min-width: 1280px) {
  body {
    background-image: url(./images/bg-main-desktop.png);
    background-size: 483px 100%;
    height: calc(100vh + 273px);
    margin: auto;
  }

  figure {
    width: 447px;
    height: 245px;
  }

  .back {
    width: 447px;
    height: 245px;
    top: 469px;
    left: 258px;
  }

  .front {
    width: 447px;
    height: 245px;
    top: 187px;
    left: 164px;
  }

  .card-logo {
    width: 84px;
    top: 215px;
    left: 196px;
  }

  .card-data {
    top: 326px;
    left: 196px;
  }

  #completed-section, #confirm-section {
    position: absolute;
    top: 275px;
    left: 832px;
    width: 381px;
  }

  #card-number {
    font-size: 2.8rem;
    letter-spacing: 3.42px;
  }
  
  #cardholder-name, #exp-date {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .form-date input {
    width: 80px;
  }

  .form-group-container {
    gap: 20px;
  }

  .form-date {
    gap: 10px;
  }

  #cvc {
    width: 191px;
  }

  button {
    width: 381px;
    margin-top: 8px;
  }

  footer {
    background-color: var(--white);
  }
}
